<nav id="sidebar">
    <div class="list-group">
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light"
           href="{% url 'pybo:question_list' 1 %}">질문&답변</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light"
           href="{% url 'pybo:question_list' 2 %}">강좌</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light"
           href="{% url 'pybo:question_list' 3 %}">자유게시판</a>
    </div>
</nav>