{% extends 'base.html' %}
{% block content %}
    <div class="container my-3 py-3">
        <div class="row">
            <div id="content" class="py-2" style="height: auto !important;">
                <h5 class="my-3 border-bottom pb-2">답변등록</h5>
                <div class="mb-3">
                    <label for="content">질문내용</label>
                    <div class="p-2 bd-highlight fw-bold">{{ answer.question.content }}</div>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {% include "form_errors.html" %}
                    <div class="mb-3">
                        <label for="content" class="form-label">답변내용</label>
                        <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">저장하기</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}