{% extends 'base.html' %}
{% block content %}
    <div class="container my-3 py-3">
        <div class="row">
            <div id="content_box" class="border-top border-secondary py-2" style="height: auto !important;">
                <h5 class="my-3 border-bottom pb-2">댓글 수정</h5>
                <form method="post">
                    {%  csrf_token %}
                    <!-- 오류 표시 Start -->
                    {% include 'form_errors.html' %}
                    <!-- 오류 표시 End -->
                    <div class="mb-3">
                        <label for="content" class="form-label">내용</label>
                        <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
                    </div>
                    <!-- {{ form.as_p }} -->
                    <button type="submit" class="btn btn-primary">저장하기</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}