{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}
    <div class="container mt-3" style="height: auto !important;">
        <div class="row" style="height: auto !important;">
            <div class="col-sm-12 col-md-3 col-lg-2 p-2">
                {% include "sidebar.html" %}
            </div>
            <div class="col-sm-12 col-md-9 col-lg-10 p-2" style="height: auto !important;">
                <div id="content" style="height: auto !important;">
                    <div class="container py-3">
                        <!--message 표시-->
                        {% include "messages_errors.html" %}
                        <div class="my-3" style="height: auto !important;">
                            <h5 class="pb-3 mb-0 border-bottom border-secondary font-weight-bold">{{ question.subject }}</h5>
                            <div class="mt-3 mark-content">
                                <div class="p-2 bd-highlight fw-bold">{{ question.content }}</div>
                            </div>
                            <div class="clearfix my-2">
                                <div class="card small float-end bg-light" style="width: 14rem;">
                                    <div class="card-body p-2 px-3">
                                        <p class="card-title">
                                            <strong>{{ question.author }}</strong> 님
                                        </p>
                                        <p class="card-subtitle mb-2 text-muted">{{ question.modify_date }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-text" style="white-space: pre-line;"></div>
                            <!-- 버튼들 -->
                            <div class="my-action-buttons">
                                <a href="javascript:question_comment()" class="question_comment_create my-action">
                                    <i class="fa-solid fa-comment"></i> 댓글 ({{ question.comments.count }})
                                </a>
                                |
                                {% if request.user|find_voter:question %}
                                    <a href="javascript:void(0)" data-uri="{% url 'pybo:question_vote_del' question.id  %}" class="unrecommend my-action">
                                        <i class="fa-solid fa-thumbs-up"></i> 추천 해제 ({{question.voter.count}})
                                    </a>
                                {% else %}
                                    <a href="javascript:void(0)" data-uri="{% url 'pybo:question_vote' question.id  %}" class="recommend my-action">
                                        <i class="fa-solid fa-thumbs-up"></i> 추천 ({{question.voter.count}})
                                    </a>
                                {% endif %}
                                {% if request.user == question.author %}
                                    |
                                    <a href="{% url 'pybo:question_modify' question.id %}" class="my-action">수정</a> |
                                    <a href="javascript:void(0)" class="delete my-action" data-uri="{% url 'pybo:question_delete' question.id  %}">
                                        삭제
                                    </a>
                                {% endif %}
                            </div>
                            <!-- 댓글 -->
                            <div class="comment-block">
                                {% if request.path|include:'pybo/question/comment' %}
                                <div id="question_comment">
                                {% else %}
                                <div id="question_comment" style="display: none;">
                                {% endif %}
                                {% if user.is_authenticated %}
                                    <form action="{% url 'pybo:question_comment_create' question.id %}" method="post" class="my-3">
                                        {% csrf_token %}
                                        {% if form|check_label:'댓글내용' %}
                                        {% include "form_errors.html" %}
                                        {% endif %}
                                        <div class="d-flex mb-4">
                                            <textarea placeholder="댓글을 입력하시오..." name="content" id="question_content" class="form-control"></textarea>
                                        </div>
                                        <input type="submit" value="댓글입력" class="btn btn-primary">
                                    </form>
                                {% else %}
                                    <div class="alert alert-danger my-2">
                                        <span>댓글 작성은 로그인이 필요합니다.</span>
                                    </div>
                                {% endif %}
                                </div>
                                <div class="mt-2">
                                    {% if question.comments.count %}
                                        {% if question.comments.count > 8 %}
                                            {% with remainder=question.comments.count|sub:8 %}
                                            <div class="comment py-2 text-muted" id="question_comment_button">
                                                <a href="javascript:question_comment_block()">댓글 {{ question.comments.count|sub:8 }}개 더 보기...</a>
                                            </div>
                                            <div id="question_comment_block" style="display: none;">
                                                {% for comment in question.comments.all|slice_end:remainder %}
                                                    {% include 'pybo/question_comment.html' %}
                                                {% endfor %}
                                            </div>
                                            {% for comment in question.comments.all|slice_start:remainder %}
                                                {% include 'pybo/question_comment.html' %}
                                            {% endfor %}
                                            {% endwith %}
                                        {% else %}
                                            {% for comment in question.comments.all %}
                                                {% include 'pybo/question_comment.html' %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                            <!-- 답변 -->
                            <div class="d-flex justify-content-between border-top border-secondary pt-4">
                                {% if answer_list %}
                                <h5>
                                    <strong>{{ question.answer_set.count }}</strong>개의 답변이 있습니다.
                                    <small class="m1-5">{{ page }} / {{ answer_list.paginator.num_pages }} Page</small>
                                </h5>
                                <div class="btn-group col-1" role="group" aria-label="Basic radio toggle button group">
                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="recent">
                                    <label class="btn btn-outline-secondary" for="btnradio1">
                                       <i class="fas fa-list"></i>
                                    </label>

                                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="recommend" checked>
                                    <label class="btn btn-outline-secondary" for="btnradio2">
                                        <i class="fas fa-thumbs-up"></i>
                                    </label>
                                </div>
                                <div class="col-6">
                                    <div class="input-group">
                                        <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                            <div class="answer-block my-3">
                                <!--답변 등록-->
                                {% if user.is_authenticated %}
                                    <form action="{% url 'pybo:answer_create' question.id %}" method="post" class="my-3">
                                    {%  csrf_token %}
                                    <!-- 오류표시 -->
                                    {% if form|check_label:'답변내용' %}
                                    {% include "form_errors.html" %}
                                    {% endif %}
                                    <div class="d-flex mb-4">
                                        <textarea placeholder="답변을 입력하시오..."name="content" id="content" class="form-control" rows="5"></textarea>
                                    </div>
                                    <input type="submit" value="답변등록" class="btn btn-primary">
                                    </form>
                                {% endif %}
                                <!--답변-->
                                {% if answer_list %}
                                {% for answer in answer_list %}
                                    <a id="answer_{{ answer.id }}"></a>
                                    <div class="answer-item p-3 my-3 border">
                                        <div class="p-2">{{ answer.content|mark }}</div>
                                        <div class="clearfix my-2">
                                            <div class="card small float-end bg-light" style="width: 14rem;">
                                                <div class="card-body p-2 px-3">
                                                    <p class="card-title">
                                                        <strong>{{ answer.author }}</strong> 님
                                                    </p>
                                                    <p class="card-subtitle mb-2 text-muted">{{ answer.modify_date }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--버튼들-->
                                        <div class="my-action-buttons">
                                            <a href="javascript:answer_comment({{ answer.id }})" class="question_comment_create my-action">
                                                 <i class="fa-solid fa-comment"></i> 댓글 ({{ answer.comments.count }})
                                            </a>
                                            |
                                            {% if request.user|find_voter:answer %}
                                                <a href="javascript:void(0)" data-uri="{% url 'pybo:answer_vote_del' answer.id  %}" class="unrecommend my-action">
                                                   <i class="fa-solid fa-thumbs-up"></i> 추천 해제 ({{answer.voter.count}})
                                                </a>
                                            {% else %}
                                                <a href="javascript:void(0)" data-uri="{% url 'pybo:answer_vote' answer.id  %}" class="recommend my-action">
                                                    <i class="fa-solid fa-thumbs-up"></i> 추천 ({{answer.voter.count}})
                                                </a>
                                            {% endif %}
                                            {% if request.user == answer.author %}
                                                |
                                                <a href="{% url 'pybo:answer_modify' answer.id %}" class="my-action">수정</a>
                                                |
                                                <a href="javascript:void(0)" class="delete my-action" data-uri="{% url 'pybo:answer_delete' answer.id %}">삭제</a>
                                            {% endif %}
                                        </div>
                                        <!-- 댓글 -->
                                        <div class="comment-block">
                                            {% if request.path|include:"answer/comment/create/" %}
                                                {% if request.path|include:answer.id %}
                                                    <div id="answer_comment{{ answer.id }}">
                                                {% else %}
                                                    <div id="answer_comment{{ answer.id }}" style="display: none;">
                                                {% endif %}
                                            {% else %}
                                                <div id="answer_comment{{ answer.id }}" style="display: none;">
                                            {% endif %}
                                            {% if user.is_authenticated %}
                                                <form action="{% url 'pybo:answer_comment_create' answer.id page %}" method="post" class="my-3">
                                                    {% csrf_token %}
                                                    {% if request.path|include:answer.id %}
                                                    {% if form|check_label:'댓글내용' %}
                                                        {% include "form_errors.html" %}
                                                    {% endif %}
                                                    {% endif %}
                                                    <div class="d-flex mb-4">
                                                        <textarea placeholder="댓글을 입력하시오..." name="content" id="answer_content{{ answer.id }}" class="form-control"></textarea>
                                                    </div>
                                                    <input type="submit" value="댓글입력" class="btn btn-primary">
                                                </form>
                                            {% else %}
                                                <div class="alert alert-danger my-2">
                                                    <span>댓글 작성은 로그인이 필요합니다.</span>
                                                </div>
                                            {% endif %}
                                            </div>
                                            <div class="mt-2">
                                                {% if answer.comments.count %}
                                                    {% if answer.comments.count > 8 %}
                                                        {% with remainder=answer.comments.count|sub:8 %}
                                                        <div class="comment py-2 text-muted" id="answer_comment_button{{ answer.id }}">
                                                            <a href="javascript:answer_comment_block({{ answer.id }})">댓글 {{ answer.comments.count|sub:8 }}개 더 보기...</a>
                                                        </div>
                                                        <div id="answer_comment_block{{ answer.id }}" style="display: none;">
                                                            {% for comment in answer.comments.all|slice_end:remainder %}
                                                                {% include 'pybo/answer_comment.html' %}
                                                            {% endfor %}
                                                        </div>
                                                        {% for comment in answer.comments.all|slice_start:remainder %}
                                                            {% include 'pybo/answer_comment.html' %}
                                                        {% endfor %}
                                                        {% endwith %}
                                                    {% else %}
                                                        {% for comment in answer.comments.all %}
                                                            {% include 'pybo/answer_comment.html' %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <!--답변 페이징 처리 시작-->
                                <ul class="pagination justify-content-center">
                                    {% if answer_list.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" data-page="{{ answer_list.previous_page_number }}" href="javascript:void(0)">이전</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                                        </li>
                                    {% endif %}
                                    {% for page_number in answer_list.paginator.page_range %}
                                        {% if page_number >= answer_list.number|add:-5 and page_number <= answer_list.number|add:5 %}
                                        {% if page_number == answer_list.number %}
                                            <li class="page-item active" aria-current="page">
                                                <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
                                            </li>
                                        {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if answer_list.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" data-page="{{ answer_list.next_page_number }}" href="javascript:void(0)">다음</a>
                                    </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
                                        </li>
                                    {% endif %}
                                </ul>
                                <!--답변 페이징 처리 끝 -->
                                {% endif %}
                            </div>
                            <form id="searchForm" method="get" action="{% url 'pybo:detail' question.id %}">
                                <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
                                <input type="hidden" id="page" name="page" value="{{ page }}">
                                <input type="hidden" id="sort" name="sort" value="{{ sort }}">
                            </form>
                            <a href="{% url 'pybo:index' %}" class="btn btn-primary"><i class="fas fa-list"></i> 목록으로</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type='text/javascript'>
        const sort_radio = document.getElementsByName('btnradio');
        const sel_var = document.getElementById('sort').value;
        for(var i=0; i<sort_radio.length; i++) {
            if(sort_radio[i].value == sel_var) {
                sort_radio[i].checked = true;
            }
        }

        function question_comment() {
            const comment = document.getElementById("question_comment");
            if(comment.style.display == "none") {
                comment.style.display = "block";
            }
        }

        function question_comment_reply(comment_id) {
            const comment = document.getElementById("question_content");
            const source = document.getElementById("question_comment"+comment_id);
            comment.value = "@"+source.dataset.author+" ";
            question_comment();
        }

        function question_comment_block() {
            const comment = document.getElementById("question_comment_block");
            const link = document.getElementById("question_comment_button");
            if(comment.style.display == "none") {
                link.style.display = "none";
                comment.style.display = "block";
            }
        }

        function answer_comment(answer_id) {
            const comment = document.getElementById("answer_comment"+answer_id);
            if(comment.style.display == "none") {
                comment.style.display = "block";
            }
        }

        function answer_comment_reply(answer_id, comment_id) {
            const comment = document.getElementById("answer_content"+answer_id);
            const source = document.getElementById("answer_comment"+comment_id);
            comment.value = "@"+source.dataset.author+" ";
            answer_comment(answer_id);
        }

        function answer_comment_block(answer_id) {
            const comment = document.getElementById("answer_comment_block"+answer_id);
            const link = document.getElementById("answer_comment_button"+answer_id);
            if(comment.style.display == "none") {
                link.style.display = "none";
                comment.style.display = "block";
            }
        }

        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });

        const recommend_elements = document.getElementsByClassName("recommend");
        Array.from(recommend_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 추천하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });

        const unrecommend_elements = document.getElementsByClassName("unrecommend");
        Array.from(unrecommend_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 추천해제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });

        Array.from(sort_radio).forEach(function(element) {
            element.addEventListener('change', function() {
                if(element.checked) {
                    document.getElementById('page').value = 1;
                    document.getElementById('sort').value = element.value;
                    document.getElementById('searchForm').submit();
                }
            });
        });

        const page_elements = document.getElementsByClassName("page-link");
        Array.from(page_elements).forEach(function(element) {
            element.addEventListener('click', function() {
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('sort').value = document.getElementById('sort').value;
                document.getElementById('searchForm').submit();
            });
        });

        const btn_search = document.getElementById("btn_search");
        if (btn_search != null) {
            btn_search.addEventListener('click', function() {
                document.getElementById('kw').value = document.getElementById('search_kw').value;
                document.getElementById('page').value = 1;
                document.getElementById('sort').value = "recent";
                document.getElementById('searchForm').submit();
            });
        }
    </script>
{% endblock %}
