{% extends "base.html" %}
{% block content %}
    <div id="content_box" class="container my-3 py-3">
        <div class="row">
            <div class="d-flex flex-column m-3 py-2 mx-auto" style="height: auto !important;">
                <h3 class="font-weight-bold" style="text-align:center;">사용자ID 찾기</h3>
                <form method="post" action="{% url 'common:id_find' %}" class="row g-4 border-top border-secondary my-3 mx-auto">
                    {% csrf_token %}
                    <div class="mb-3">
                        {% include "messages_errors.html" %}
                        {% include 'form_errors.html' %}
                    </div>
                    <div class="mb-3">
                        <label for="email">이메일</label>
                        <input type="text" class="form-control" name="email" id="email"
                               value="{{ form.email.value|default_if_none:'' }}">
                    </div>
                    <div class="d-grid gap-2 mb-3 mx-auto">
                        <button type="submit" class="btn btn-primary">사용자ID 찾기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}