{% extends "base.html" %}
{% block content %}
    <div id="content" class="container my-3 py-3">
        <div class="row">
            <div class="d-flex flex-column m-3 py-2 mx-auto" style="height: auto !important;">
                <h3 class="font-weight-bold" style="text-align:center;">비밀번호 변경</h3>
                <form method="post" class="row g-4 border-top border-secondary my-3 mx-auto">
                    {% csrf_token %}
                    <div class="mb-3">
                        {% include "messages_errors.html" %}
                        {% include "form_errors.html" %}
                    </div>
                    <div class="mb-3">
                        <label for="password1">비밀번호</label>
                        <input type="password" class="form-control" name="password1" id="password1"
                               value="{{ form.password1.value|default_if_none:'' }}"
                               placeholder="비밀번호는 최소 8문자를 포함해야 합니다.">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="showPassword1">
                            <label class="form-check-label" for="showPassword">비밀번호 표시</label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="password2">비밀번호 확인</label>
                        <input type="password" class="form-control" name="password2" id="password2"
                               value="{{ form.password2.value|default_if_none:'' }}"
                               placeholder="비밀번호는 최소 8문자를 포함해야 합니다.">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="showPassword2">
                            <label class="form-check-label" for="showPassword">비밀번호 표시</label>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mb-3 mx-auto">
                        <button type="submit" class="btn btn-primary">생성하기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        const show_password1 = document.getElementById("showPassword1");
        show_password1.addEventListener('click', function() {
            if(show_password1.checked) {
                document.getElementById("password1").setAttribute("type", "text");
            }
            else {
                document.getElementById("password1").setAttribute("type", "password");
            }
        });

        const show_password2 = document.getElementById("showPassword2");
        show_password2.addEventListener('click', function() {
            if(show_password2.checked) {
                document.getElementById("password2").setAttribute("type", "text");
            }
            else {
                document.getElementById("password2").setAttribute("type", "password");
            }
        });
    </script>
{% endblock %}